{% extends "base.html" %}

{% block content %}

<h1 class="text-4xl font-bold mb-10 text-center">
    My Projects 🚀
</h1>

<div class="grid grid-cols-1 md:grid-cols-3 gap-6">

    {% for project in projects %}

    <div class="bg-gray-900 border border-gray-700 rounded-xl p-5 hover:scale-105 transition">

        <h2 class="text-xl font-bold mb-2">
            {{ project.title }}
        </h2>

        <p class="text-gray-400 mb-3">
            {{ project.description|truncatechars:100 }}
        </p>

        <p class="text-sm text-blue-400 mb-3">
            {{ project.tech_stack }}
        </p>

        <div class="flex justify-between text-sm">

            {% if project.live_url %}
            <a href="{{ project.live_url }}" class="text-green-400">Live</a>
            {% endif %}

            {% if project.github_url %}
            <a href="{{ project.github_url }}" class="text-gray-400">GitHub</a>
            {% endif %}

        </div>

    </div>

    {% endfor %}

</div>

{% endblock %}